In [ ]:
from google.colab import drive          #allowing colab to have access to gdrive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd

In [ ]:
data={
    'Pens' : [1,3,5,7,9],        #creating a dataframe
    'Books': [9,1,2,3,4]
}
table=pd.DataFrame(data);
table

   Pens  Books
0     1      9
1     3      1
2     5      2
3     7      3
4     9      4

In [ ]:
print(table)       #different from not 'printing'  (?)

   Pens  Books
0     1      9
1     3      1
2     5      2
3     7      3
4     9      4

In [ ]:
Dataset_folder='/content/gdrive/MyDrive/AI/PANDAS/'

In [ ]:
movies_dataset = pd.read_csv(Dataset_folder+"IMDB-Movie-Data.csv", index_col="Title")     #to read the file of a specific datatype
                                                                                     #instead of 0,1,.... index of column is set as its title

In [ ]:
movies_dataset.head(6)      #shows the dataframe of specified number of records (datasetname.head(no of records))

                         Rank  ... Metascore
Title                          ...
Guardians of the Galaxy     1  ...      76.0
Prometheus                  2  ...      65.0
Split                       3  ...      62.0
Sing                        4  ...      59.0
Suicide Squad               5  ...      40.0
The Great Wall              6  ...      42.0

[6 rows x 11 columns]

In [ ]:
movies_dataset.tail(6)      #prints specified no of records from the end

                        Rank  ... Metascore
Title                         ...
Project X                995  ...      48.0
Secret in Their Eyes     996  ...      45.0
Hostel: Part II          997  ...      46.0
Step Up 2: The Streets   998  ...      50.0
Search Party             999  ...      22.0
Nine Lives              1000  ...      11.0

[6 rows x 11 columns]

In [ ]:
movies_dataset.shape        #prints no of rows and columns(starting from index 0)

(1000, 11)

In [ ]:
movies_dataset.info              #shows a glimpse of the dataset

<bound method DataFrame.info of                          Rank  ... Metascore
Title                          ...
Guardians of the Galaxy     1  ...      76.0
Prometheus                  2  ...      65.0
Split                       3  ...      62.0
Sing                        4  ...      59.0
Suicide Squad               5  ...      40.0
...                       ...  ...       ...
Secret in Their Eyes      996  ...      45.0
Hostel: Part II           997  ...      46.0
Step Up 2: The Streets    998  ...      50.0
Search Party              999  ...      22.0
Nine Lives               1000  ...      11.0

[1000 rows x 11 columns]>

In [ ]:
movies_dataset = movies_dataset.drop_duplicates(keep = 'first')   #if keep='first' - it considers first value as unique and the rest as duplicates
                                                                  #if keep='last' - it considers last value as unique and the rest as duplicates
                                                                  #if keep='False' - it considers all the same values as duplicates

In [ ]:
print(movies_dataset.columns)     #prints the column labels

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [ ]:
movies_dataset.rename(columns={'Title':'Movie_Title', 'Actors':'Movie Actors'},inplace=True)     #to rename column labels(will be changed in output only if inplace=True)
movies_dataset.columns

Index(['Rank', 'Genre', 'Description', 'Director', 'Movie Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [ ]:
movies_dataset.isnull()       #overview of whether null values exist

                          Rank  Genre  ...  Revenue (Millions)  Metascore
Title                                  ...
Guardians of the Galaxy  False  False  ...               False      False
Prometheus               False  False  ...               False      False
Split                    False  False  ...               False      False
Sing                     False  False  ...               False      False
Suicide Squad            False  False  ...               False      False
...                        ...    ...  ...                 ...        ...
Secret in Their Eyes     False  False  ...                True      False
Hostel: Part II          False  False  ...               False      False
Step Up 2: The Streets   False  False  ...               False      False
Search Party             False  False  ...                True      False
Nine Lives               False  False  ...               False      False

[1000 rows x 11 columns]

In [ ]:
movies_dataset.isnull().sum()     #gives total null values of each columnlabel

Rank                    0
Genre                   0
Description             0
Director                0
Movie Actors            0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

In [ ]:
movies_dataset_modified1=movies_dataset.dropna(axis=0,how="any",thresh=None,subset=None,inplace=False)     #if axis=0, drops rows with null values
movies_dataset_modified1.shape

(838, 11)

In [ ]:
movies_dataset_modified2=movies_dataset.dropna(axis=1)   #if axis=1, drops columns with null vlaues
movies_dataset_modified2.shape

(1000, 9)

In [ ]:
revenue = movies_dataset['Revenue (Millions)']     #creates a smaller table with only values from given column & prints first 5 values of specified column label along with index
revenue.head(5)

Title
Guardians of the Galaxy    333.13
Prometheus                 126.46
Split                      138.12
Sing                       270.32
Suicide Squad              325.02
Name: Revenue (Millions), dtype: float64

In [ ]:
actors=movies_dataset['Movie Actors']
actors.tail(5)

Title
Secret in Their Eyes      Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...
Hostel: Part II           Lauren German, Heather Matarazzo, Bijou Philli...
Step Up 2: The Streets    Robert Hoffman, Briana Evigan, Cassie Ventura,...
Search Party              Adam Pally, T.J. Miller, Thomas Middleditch,Sh...
Nine Lives                Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...
Name: Movie Actors, dtype: object

In [ ]:
meanRev = revenue.mean(0)
meanRev

82.9563761467888

In [ ]:
movies_dataset.describe()      #statistical description about the columns

              Rank         Year  ...  Revenue (Millions)   Metascore
count  1000.000000  1000.000000  ...         1000.000000  936.000000
mean    500.500000  2012.783000  ...           82.956376   58.985043
std     288.819436     3.205962  ...           96.412043   17.194757
min       1.000000  2006.000000  ...            0.000000   11.000000
25%     250.750000  2010.000000  ...           17.442500   47.000000
50%     500.500000  2014.000000  ...           60.375000   59.500000
75%     750.250000  2016.000000  ...           99.177500   72.000000
max    1000.000000  2016.000000  ...          936.630000  100.000000

[8 rows x 7 columns]

In [ ]:
movies_dataset['Year'].value_counts()      #counts the various different values from the specified column

2016    297
2015    127
2014     98
2013     91
2012     64
2011     63
2010     60
2007     53
2008     52
2009     51
2006     44
Name: Year, dtype: int64

In [ ]:
movies_dataset.loc['Suicide Squad']     #gives information about the specified index(could be keyword or number)

Rank                                                                  5
Genre                                          Action,Adventure,Fantasy
Description           A secret government agency recruits some of th...
Director                                                     David Ayer
Movie Actors          Will Smith, Jared Leto, Margot Robbie, Viola D...
Year                                                               2016
Runtime (Minutes)                                                   123
Rating                                                              6.2
Votes                                                            393727
Revenue (Millions)                                               325.02
Metascore                                                            40
Name: Suicide Squad, dtype: object

In [ ]:
movies_dataset.iloc[4]    #if using index no, use iloc

Rank                                                                  5
Genre                                          Action,Adventure,Fantasy
Description           A secret government agency recruits some of th...
Director                                                     David Ayer
Movie Actors          Will Smith, Jared Leto, Margot Robbie, Viola D...
Year                                                               2016
Runtime (Minutes)                                                   123
Rating                                                              6.2
Votes                                                            393727
Revenue (Millions)                                               325.02
Metascore                                                            40
Name: Suicide Squad, dtype: object

In [ ]:
movies_dataset.iloc[2:6]            #gives a subset of the table from specified range

                Rank                     Genre  ... Revenue (Millions) Metascore
Title                                           ...
Split              3           Horror,Thriller  ...             138.12      62.0
Sing               4   Animation,Comedy,Family  ...             270.32      59.0
Suicide Squad      5  Action,Adventure,Fantasy  ...             325.02      40.0
The Great Wall     6  Action,Adventure,Fantasy  ...              45.13      42.0

[4 rows x 11 columns]

In [ ]:
ratings=movies_dataset['Rating']      #prints ratings along with index
ratings

Title
Guardians of the Galaxy    8.1
Prometheus                 7.0
Split                      7.3
Sing                       7.2
Suicide Squad              6.2
                          ...
Secret in Their Eyes       6.2
Hostel: Part II            5.5
Step Up 2: The Streets     6.2
Search Party               5.6
Nine Lives                 5.3
Name: Rating, Length: 1000, dtype: float64

In [ ]:
ratings[ratings.gt(9)]         #no ratings greater than 9 exist

Series([], Name: Rating, dtype: float64)

In [ ]:
ratings[ratings.gt(8.5)]     #from ratings table, displays ratings greater than 8.5

Title
Interstellar        8.6
The Dark Knight     9.0
Inception           8.8
Kimi no na wa       8.6
Dangal              8.8
The Intouchables    8.6
Name: Rating, dtype: float64

In [ ]:
Edgar_movies=movies_dataset[movies_dataset['Director']=='Edgar Wright']    #using conditions
Edgar_movies

                             Rank  ... Metascore
Title                              ...
Scott Pilgrim vs. the World   159  ...      69.0
Hot Fuzz                      160  ...      81.0
The World's End               800  ...      81.0

[3 rows x 11 columns]

In [ ]:
a=movies_dataset[(movies_dataset['Metascore']>70) & (movies_dataset['Year']==2014)]
a

                                                 Rank  ... Metascore
Title                                                  ...
Guardians of the Galaxy                             1  ...      76.0
Interstellar                                       37  ...      74.0
Gone Girl                                          84  ...      79.0
Ex Machina                                        110  ...      78.0
Whiplash                                          134  ...      88.0
X-Men: Days of Future Past                        163  ...      74.0
Nightcrawler                                      171  ...      76.0
Dawn of the Planet of the Apes                    177  ...      79.0
The Imitation Game                                199  ...      73.0
Edge of Tomorrow                                  201  ...      71.0
It Follows                                        223  ...      83.0
The Grand Budapest Hotel                          239  ...      88.0
Birdman or (The Unexpected Virtue of Ignorance)   261  ...      88.0
Dear White People                                 263  ...      79.0
22 Jump Street                                    277  ...      71.0
Inherent Vice                                     306  ...      81.0
The Babadook                                      313  ...      86.0
American Sniper                                   332  ...      72.0
The Theory of Everything                          358  ...      72.0
What We Do in the Shadows                         381  ...      76.0
The Lego Movie                                    385  ...      83.0
Big Hero 6                                        449  ...      74.0
Mommy                                             609  ...      74.0
Relatos salvajes                                  642  ...      77.0
Boyhood                                           657  ...     100.0
Wild                                              722  ...      76.0
The Guest                                         730  ...      76.0
How to Train Your Dragon 2                        904  ...      76.0

[28 rows x 11 columns]